
/*CARDS PART*/
.card-img-top.first{
    background-image: url('../img/angel-origgi-1277714-unsplash.jpg');
    height: 300px;
    background-size: cover;

}
.card-img-top.first:hover{
    box-shadow: inset 2000px 0 0 0 rgba(0, 0, 0, 0.5);
}
.card-img-top.second{
    background-image: url('../img/raychan-1277938-unsplash.jpg');
    height: 300px;
    background-size: cover;
    background-position: 50%;
}
.card-img-top.second:hover{
    box-shadow: inset 2000px 0 0 0 rgba(0, 0, 0, 0.5);
    transition-duration: ease-in 1s;
}

.card-img-top.third{
    background-image: url('../img/will-truettner-1277474-unsplash.jpg');
    height: 300px;
    background-size: cover;
    background-position: 50%;
}
.card-img-top.third:hover{
    box-shadow: inset 2000px 0 0 0 rgba(0, 0, 0, 0.5);
    transition-duration: ease-in 1s;
}
.container{
    display: flex;
    flex-wrap: wrap;
}
.card{
    margin: 10px auto;
}

/*LOGIN PART*/
.container-form{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}